body {
    font-family: 'times', 'Noto Sans KR';
    margin: 0;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: black;
}

h1 {font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2{
    margin-top: 0;
}
h3 {
    font-size: 1.25em;
    margin: 0;
}
hr {
    margin: 0;
}
main {
    padding: 20px;
}
nav ol {
    margin: 0;
    padding: 20px 0px 20px 20px ;
    width: 150px;
}

#content {
    width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.grid {
    display:grid;
    grid-template-columns: 0fr 0fr 1fr;

}
img {
    width:100%;
}
.pic {
    margin-right: 20px;
}
article{
    float: right;
}
.column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;
}

footer {
    height: 50px;
    color: rgb(216, 216, 216);
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1201px){
    .pic {
        width: 500px;
    }
}

@media screen and (max-width: 1200px){
    #content {
        margin: 0 auto;
        padding: 0;
        width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .grid {
        display:flex;
        flex-direction: column;
    }
    
    #content {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav ol {
        margin: 0;
        padding: 20px 20px 20px 40px ;
        border-right: 0px solid black;
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}

}

@media screen and (max-width: 500px){
    .pic { width: 100%;}

.column {
    display: block;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;
    text-align: center;
}
h3 {margin: 10px 0;}
}